header {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 55rem;
}
