.container2 {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.error-template {
  margin-top: 6rem;
  padding: 2.5rem 1rem;
  text-align: center;
}
.error-actions {
  margin-top: 1rem;
  margin-bottom: 8rem;
}
.error-actions .btn {
  margin-right: 10px;
}
