#img-card {
  width: 100%;
  object-fit: contain;
  height: 12.5rem;
}

.img-container {
  max-height: 60%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  transition: transform 0.3s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;

  height: 30rem;
  object-fit: contain;
}

.card:hover {
  transform: translateY(-1.5rem) scale(1.03);
  overflow: hidden;
}
