.pagination > li > a,
.pagination > li > span {
  border-radius: 50% !important;
  margin: 0 5px;
}
/* 
.container {
  text-align: center;
} */

.pagination {
  text-align: center;
  margin: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.pagination:hover {
}
