body {
  background: transparent;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid transparent;
  border-right: none;
  padding: 5px;
  height: 2.23rem;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: transparent;
  min-width: 13rem;
}

.searchTerm:focus {
  color: black;
}

@media (max-width: 378px) {
  .searchTerm {
    min-width: 9rem;
    font-size: 0.6rem;
    color: transparent;
  }
}

@media (min-width: 2555px) {
  .searchTerm {
    width: 80;
    margin: 5rem;
  }
}

.searchButton {
  width: 2.5rem;
  height: 2.23rem;
  border: 1px solid transparent;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1.25rem;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
